@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

*{                                /*  выравнивание общее  */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{                              /*  спец размер и шрифты под сообщения и др.  */
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-size: 1-px;
}

#wrapper{                          /*  выравнивание обертки списка учатников  */
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	background-color: #b5b5b7;
	color: #ff;
}

.container{                         /*  основной контейнер чата  */
	width: 60%;
 	height: 80%;
	display: flex;
	box-shadow: 1rem 2rem 4rem rgba(0,0,0,0.2);
	min-width: 60rem;
}

.users,#chat-screen{
	flex-grow: 1;
	height: 100%;
	min-width: 30rem;
}

.users{
	background-color: #25 ;
}

#chat-screen{                         /*  распределение в 2 ряда  */
	background: linear-gradient(rgba(242, 182, 50, 0.85), rgba(242, 182, 50, 0.85)), url("bg.jpeg") center no-repeat;
	background-size: cover;
}

.users header{                         /*  заголовок над пользователями  */
	background-color: blue;
	padding: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.users ul{
	list-style-type: none;
}

.users ul li{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.users ul li:nth-last-child{
	border-bottom: none;
}

.users header h1{
	font-size: 5rem;
	font-weight: 100;
}

.awatar img{                         /*  уменьшение размера аватарок  */
	width: 7.5rem;
	height: 7.6rem;
	border-radius: 50%;             /*  аватарки в кружок  */
}

.users  .avatar{                     /*  выравнивание пользователей в табличку  */
	display: flex;
	margin: auto 0;
	padding: 1rem;
	position: relative;
}

.username{                           /*  увеличить имя пользователя в табличке  */
	font-size: 3rem;
}

.online{                              /*  кружок online  */
	background-color: #4ad99b;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	position: absolute;
	left: 6.5rem;
	bottom: 1.5rem;
}

.offline{                              /*  кружок offline + изменение в index.html offline на online offline */
	background-color: #fa676a;
}

.users ul li .online{                      /*  добавление эффектов кружкам online и offline */
	border: 2px solid #fff;
}

.users-list{                            /*  центрирование подписей пользователей */
	flex-grow: 2;
	margin: auto 0;
}

.text{                                  /*  уменьшение размера текста под именем */
	font-size: 0.5rem;
	margin: auto 0;
}

.timestamp{                             /*  характеристики поля "время сообщения"  */
	font-size: 0.5rem;
	flex-grow: 0.3;
	margin: auto 0;
}

#chat-screen{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 2;
	color: #333;
}

#chat-screen .msg-compose{               /*  размещение, улучшение поля отправки сообщений  */
	background-color: #fff;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

#chat-screen .msg-compose textarea{        /*  убирание границ поля отправки сообщений  */
	flex-grow: 2;
	margin: 0 1rem;
	resize: none;
	border: none;
	padding-top: 5px;
	height: 2rem;
}

#chat-screen .msg-compose textarea: focus {
	outline: none;
}

#messages article{                         /*  выравнивание текста сообщений справа от аватарки */
	display: flex;
	justify-content: flex-start;
	margin-bottom: 2rem;
}

.msg{
	display: flex;
	justify-content: space-between;
}

.inner-msg{                                /*  и наконец сами прямоугольники с сообщениями */
	background-color: #fff;
	width: 100%;
	padding: 1.5rem 1rem;
	border-radius: 0 4px 4px 4px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	text-align: left;
	margin: auto 0;
}

.right{                                    /*  аватарки сообщений с разных сторон */
	flex-direction: row-reverse;
}

.right .msg{                                /*  так немного криво , треугольники не на местах */
	flex-direction: row-rewerse;
}

.right .msg .pointer {                        /*  теперь выравниваем треугольники */
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 1.5rem 1rem 0 0;
	border-color: #fff transparent transparent transparent;
	margin: auto 0; 
}

.right .msg .inner-msg{
	border-radius: 4px 0 4px 4px;
	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
	text-align: right;
}


