@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}
/* ----------------------------ТЕЛО--------------------------------------- */
body {
  background-image: linear-gradient(green, yellow, deepskyblue);;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}
/* ----------------------------ГЛАВНЫЙ БЛОК -КОНТЕЙНЕР --------------------------------------- */
.container {                                  /*  главный блок (контейнер) */
  margin: 0 auto;
  width: 890px;                               /*  ширина всего чата */
  background: #333333;                        /*  фон списка пользователей */
  border-radius: 10px;
}
/* -------------------------------БЛОК ПОЛЬЗОВАТЕЛЕЙ ------------------------------------------ */
.people-list {                                 /* распределяем и выравниваем отдельно список участников  */
  width: 400px;                               /*  ширина списка пользователей */
  float: left;                                /*  расположение списка пользователей */
}

.people-list .left-header  {                             
  width: 400px; 
  float: left; 
  padding-top: 15px;                              /*  отступы  */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid white;                 /*  добавил белую границу чтоб было гармонично */
}

.settings {
	float: left; 
}

 .timeonline {
	float: left; 
  	width: 110px; 
	height: 60px;
  	margin-top: 0px;
	margin-bottom: 0px;
  	margin-left: 20px;
	padding-top: 0px;                              /*  отступы  */
  	padding-left: 10px;
}

.youstatus {                                     /* ваш цвет статуса online offline */
  color: yellow;
}

.people-list ul {                               /* отступы списка пользователей от краев чата */
  margin-top: 0px;                             /* добавил чтоб плотно прилегало к верхней границе левого хедера */
  padding: 20px;
  height: 566px;
  overflow-y: scroll;                         /* добавление бегунка */
  border-bottom: 2px solid white;             /*  добавил белую границу чтоб было гармонично */
}

.people-list ul li {                             /* вертикальные расстояния между пользователями */
  padding-bottom: 20px;
}

.people-list ul li:hover {                             /* добавил выделение области пользователя при наведении */
  background-color: #6A6C75;
  border-radius: 20px;
}

.people-list ul li:active {                 /*  Цвет букв меняется при нажатии на кнопку  */
 background-color: #01a715;
 border-radius: 20px;
}

.people-list img {                             /*  размещение фотографий пользовалетей слева от текста */
  float: left;
}

.people-list .about {                          /*  стили класса about, теперь все выровнено в границах чата */
  float: left;
  margin-top: 8px;
}

.people-list .about {                          /* горизонтальный отступ фото и имен пользователей */
  padding-left: 8px;
}

.people-list .status {                         /* цвет статуса online offline */
  color: yellow;
}

/* --------------------------------------БЛОК ЧАТА------------------------------------------ */
.chat {									      /* параметры чата */
  width: 490px;                               /* ширина истории чата */
  float: left;                                /* размещение панели истории чата */
  background: #d3ffce;                        /*  Цвет фона истории  чата*/
  border-top-right-radius: 10px;              /*  верхний правый сглаженный угол истории  чата*/
  border-bottom-right-radius: 10px;           /*  нижний правый сглаженный угол истории  чата*/
  color: #3d3839;                             /*  Цвет текста истории чата*/
}

.chat .chat-header {                           /* граница между хедером и историей чата*/
  padding: 15px;
  border-bottom: 2px solid white;
  background: #6A6C75;                        /* добавил другой цвет фона хедера */
  width: 490px;                                 /* ширина блока хедера чата */
}

.chat .chat-header img {                        /* размещение картинки аватарки в хедере слева от текста */
  float: left;
}

.chat .chat-header .chat-with {                 /* характеристики текста в хедере истории чатов */
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-header .chat-num-messages {         /*  цвет текста количества сообщений в хедере истории чатов   */
  color: #40E0D0;
}

/* -------------------------------ХЕДЕР ЧАТА (ПРАВЫЙ ХЕДЕР)------------------------------------------ */
.chat .chat-header .chat-about {				  /* отступы текста в хедере истории чатов */
  float: left;                                /* левее , ближе к аватарке */
  padding-left: 20px;                         /* левое расстояние от аватарки до текста */
  margin-top: 6px;                            /* отступ текста от верхнего края блока хедера */
}

.chat .chat-history {                          /* характеристики окна истории чатов */
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;             /* нижняя граница между историей чатов и textarea */
  overflow-y: scroll;                         /* добавление бегунка */
  height: 512px;                              /*  высота истории чата   */ 
   width: 490px;                              /* ширина блока истории чата */
}

.clearfix:after {                              /* характеристики основного блока пользователей  */
  visibility: hidden;                          /* ничего */
  display: block;                              /* отображать как блок */
  font-size: 0;                                /* ничего */
  content: " ";                                /* так виден фон блока пользователей */
  clear: both;                                 /* так виден фон блока пользователей */
  height: 0;                                   /* ничего */
}
